@import url("./fonts.css");
@import "tailwindcss";

:root {
  --pure-white: #ffffff;
  --white: #ecf2f8;
  --white-2: #f4f6f8;
  --white-3: #efefef;
  --light-gray: #d1d1d1;

  --pure-black: #000000;
  --black: #0a0a0a;
  --dark-gray: #373737;
  --light-dark-gray: #525252;
  --gray: #696969;
  --teal: #4ec6bd;
}

@theme inline {
  --color-pure-white: var(--pure-white);
  --color-white: var(--white);
  --color-white-2: var(--white-2);
  --color-white-3: var(--white-3);
  --color-light-gray: var(--light-gray);
  --color-pure-black: var(--pure-black);
  --color-black: var(--black);
  --color-dark-gray: var(--dark-gray);
  --color-light-dark-gray: var(--light-dark-gray);
  --color-gray: var(--gray);
  --color-teal: var(--teal);

  --breakpoint-xs: 25rem; /* 400px */
}

body {
  font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
  overflow-y: scroll !important;
}

body:has(.chat-layout) {
  background: var(--white-3);
}

.MuiAutocomplete-popper,
.MuiAutocomplete-endAdornment {
  display: none;
}

.MuiAutocomplete-hasPopupIcon.css-o5oj2-MuiAutocomplete-root
  .MuiOutlinedInput-root,
.MuiAutocomplete-hasPopupIcon.css-o5oj2-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot {
  padding-right: 9px !important;
}

.css-1g04pbp-MuiModal-root {
  position: absolute !important;
}

@media screen and (max-width: 640px) {
  .css-4nmryk-MuiBackdrop-root-MuiModal-backdrop {
    background-color: rgb(255, 255, 255) !important;
  }
}
