@import "tailwindcss";

:root {
  --pure-white: #ffffff;
  --white: #ecf2f8;
  --white-2: #f4f6f8;
  --light-gray: #d1d1d1;

  --pure-black: #000000;
  --black: #0a0a0a;
  --dark-gray: #373737;
  --light-dark-gray: #525252;
  --gray: #696969;
  --teal: #4ec6bd;
}

@theme inline {
  --color-pure-white: var(--pure-white);
  --color-white: var(--white);
  --color-white-2: var(--white-2);
  --color-light-gray: var(--light-gray);
  --color-pure-black: var(--pure-black);
  --color-black: var(--black);
  --color-dark-gray: var(--dark-gray);
  --color-light-dark-gray: var(--light-dark-gray);
  --color-gray: var(--gray);
  --color-teal: var(--teal);

  --breakpoint-xs: 25rem; /* 400px */
}

/* medium-shot-woman-reading-coffee-shop */
/* 
position: absolute;
width: 673px;
height: 1080px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.27)), url(medium-shot-woman-reading-coffee-shop.jpg); */
